<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{nomeJanela}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="servico">Qual é o serviço?</label>
            <div class="input-group">
                <select id="servico" class="form-control" [(ngModel)]="idSelecionado" name="id">
                    <option *ngFor="let servicoItem of servicos" [value]="servicoItem.id">
                        {{servicoItem.nome}}
                    </option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(servicoSelecionado)">Save</button> -->
    <button type="button" class="btn btn-outline-dark" (click)="salvar()">Save</button>
</div>