<button type="button" class="btn btn-primary float-end m-2" (click)="addServico()">
    Adicionar serviço
</button>

<table mat-table [dataSource]="listaServicos" class="table table-striped">
    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let servico">{{servico.nome}}</td>
    </ng-container>
    <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let servico">{{servico.descricao}}</td>
    </ng-container>
    <ng-container matColumnDef="duracao">
        <th mat-header-cell *matHeaderCellDef>Duração</th>
        <td mat-cell *matCellDef="let servico">{{servico.duracao}}</td>
    </ng-container>
    <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let servico">{{servico.valor}}</td>
    </ng-container>
    <ng-container matColumnDef="custo">
        <th mat-header-cell *matHeaderCellDef>Custo</th>
        <td mat-cell *matCellDef="let servico">{{servico.custo}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasExibicao"></tr>
    <tr mat-row *matRowDef="let rowData; columns: colunasExibicao" (click)="editServico(rowData)"></tr>
</table>