<div class="container">

  <h3 class="d-flex justify-content-center">Simulador de lucros com serviços</h3>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="servicos"
        class="m-1 btn btn-light btn-outline-primary" Button>Serviços</button>
      </li>
      <li class="nav-item">
        <button routerLink="agenda"
        class="m-1 btn btn-light btn-outline-primary" Button>Agenda</button>
      </li>
      <li class="nav-item">
        <button routerLink="simulacao"
        class="m-1 btn btn-light btn-outline-primary" Button>Simulação</button>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>